serveur-integration/.*
serveur-nexus/.*
serveur-application/.*
serveur-application/disk2.vdi
serveur-application/vagrant-rsync/application-flask/.*
serveur-application/vagrant-rsync/application-flask/__*
serveur-application/vagrant-rsync/application-flask/venv/*
